.main-admin {
	display: flex;
	height: auto;
    width: 100%;
    flex-direction: column;

    @include breakpoint($min-desktop) {
		flex-direction: row;
	}

	.message-information {
		color: $red-color;
		display: flex;
    	justify-content: center;
    }
}

.menu-admin {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;

	@include breakpoint($min-desktop) {
		width: 30%;
		justify-content: flex-start;
	}

	a {
		text-decoration: none;
		width: 100%;
		text-align: center;
		line-height: 50px;
		background: $second-color-dark;
		color: $gray-color-light;
		border-bottom: 1px solid $gray-color-light;

		@include breakpoint($min-desktop) {
			line-height: 80px;

			&:last-child {
				height: 100%;
			}
		}
	}
}

.admin-welcome {
	text-align: center;
	padding-top: 20px;
	
	@include breakpoint($min-desktop) {
	    flex: 1 1 auto;
	}
}

.admin-form {
	@include breakpoint($min-tablet) {
	    width: 30%;
	}
}

.admin-form-center {
	@include breakpoint($min-tablet) {
	    margin: 0 auto;
	}
}