footer {
	display: none;

	@include breakpoint($min-desktop) {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		background: rgba($second-color, .85);
		width: 100%;
		height: 30px;
    	line-height: 30px;

		.box-footer {
			display: flex;
			justify-content: space-around;

			a {
				text-decoration: none;
				color: $light-color;

				&:hover {
					color: $gray-color;
				}
			}
		}
	}
}