input {
	padding: 6px 3px;
	border-radius: 4px;
	border: 1px solid rgba($second-color, .5);
	margin: 5px 0 10px 0;

	&:hover {
		background: rgba($second-color, .8);
	}
}

select {
	padding: 12px;
	margin-bottom: 10px;

	&.is-center {
		padding-left: 45%;

		@include breakpoint($min-tablet) {
			padding-left: 12px;
		}
	}

	option {
		width: 50px;
	}
}

.formulario {
	padding: 20px 0;
	text-align: center;

	@include breakpoint($min-tablet) {
		display: flex;
	}
}

.form {
	display: flex;
	flex-direction: column;
}

.form-input--file {
	margin: 10px 0;
}

.form-tema {
	display: flex;
	flex-direction: column;

	@include breakpoint($min-tablet) {
		display: block;
	}
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	padding: 5px 0;

	+label {
	    font-size: 1.25em;
	    font-weight: 700;
	    color: white;
	    background-color:$second-color-dark;
	    display: inline-block;
	    border-radius: 2px;
	    padding: 6px 20px;

	    &:hover {
			background-color: $second-color;
		}
	}
}

.box {
	border-radius: 2px;
	border: 2px solid $second-color;
	background: rgba($gray-color, .4);
	padding: 30px;
}