.galerias {
	display: flex;
	flex-direction: column;
	
	@include breakpoint($min-tablet) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.galerias-box {
	width: auto;
	max-height: 200px;
	margin: 15px 30px;
	border-radius: 90px 7px;
	background: rgba($gray-color,.7);
    box-shadow: 6px 6px 20px $gray-color;

	@include breakpoint($min-tablet) {
		max-width: 200px;
		margin: 15px 15px;

		&:hover {
			box-shadow: 2px 2px 2px 2px $gray-color;
		}
	}

	a {
		min-width: 200px;
		min-height: 200px;
		display: flex;
		justify-content: center;
		text-decoration: none;
    	color: $dark;
    	text-shadow: $text-shadow;

		span {
			margin: auto 0;
			text-align: center;
		}
	}
}