.header {
	max-height: 340px;
	height: auto;
	background: rgba($second-color, .25); 
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid $second-color-dark;
	padding: 10px 0;
	margin-bottom: 15px;
	border-radius: 0 0 0 45%;

	&.is-admin {
		border-radius: 0;
		margin-bottom: 0;
	}

	@include breakpoint($min-desktop) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.header-text {
    padding-left: 10px;
    text-align: center;

    a {
		text-decoration: none;
		color: $light-color;
		text-shadow: 2px 2px $dark;;
    }

    h1 {
    	font-family: $h1-font;
    	font-size: 28px;
    	line-height: 45px;

    	@include breakpoint($min-desktop) {
			font-size: 40px;
	    	line-height: 45px;
	    	padding-bottom: 15px;
    	}
    }
}

.toggle-box {
	width: 100%;

	@include breakpoint($min-desktop) {
		display: none;
	}

	.content {
		transform: rotate(90deg);
		width: 20px;
		height: 20px;
		padding: 15px;
		font-size: 18px;
		margin: 0 auto;
		background: $light-color;

		a {
			text-decoration: none;
			font-size: 16px;
			font-family: icon;
		}
	}
}

.nav {
	display: none;
	margin-top: 15px;

	@include breakpoint($min-desktop) {
    	max-width: 650px;
    	margin-top: 0px;
    	display: block;
	}

	.mainlinks {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include breakpoint($min-desktop) {
			flex-direction: row;
			justify-content: normal;
		}

		li {
			line-height: 40px;
    		text-align: center;
    		width: 95%;
    		margin: 0 auto;
		
			@include breakpoint($min-desktop) {
				width: 100%;
				margin: 0 15px 0 0;
				line-height: 25px;
				color: $light-color;
				background: none;
			}
		
		&.only-mobile {
				display: block;

				@include breakpoint($min-desktop) {
					display: none;
				}
			}
		}

		a {
			text-decoration: none;
			color: $light-color;
			padding: 10px;

			@include breakpoint($min-desktop) {
				position: relative;

				&:before {
					content: "";
					position: absolute;
					height: 4px;
					width: 0;
					text-align: center;
					background: $third-color;
					bottom: 0;
					left: 0;
					transition: width 2s;
				}
				&:active {
					color: $dark-color;
				}
				&:hover {
					color: $dark-color;

					&:before {
						width: 100%;
					}
				}
			}
		}
	}
}	