.imagen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	 @include breakpoint($min-tablet) {
	 	flex-direction: row;
	 }

	.imagen-box {
		flex: 1 1 auto;
	    height: auto;
	    text-align: center;
	    margin: 10px 15px 50px 15px;
	    max-height: 500px;
	    width: auto;

	    &.is-right {
	    	padding: 0px 15px 100px 15px;
	    	background: linear-gradient(rgba($third-color,.1), rgba($third-color, .7));
	    }
	   
	    @include breakpoint($min-tablet) {
	    	flex: 0 1 55%;
	    	width: 100%;
	    	max-width: 500px;

	    	&.is-right {
	    		flex: 0 1 40%;
	    		overflow: auto;
    			max-height: 500px;
  				border-radius: 6px;
	    	}
	    }
	}
}

.imagen-box--name {
	padding: 10px 0;
	background: rgba($third-color, .5);
    border-top: 1px solid $third-color;
    border-radius: 10px 10px 0px 0px;
}

.is-imagen {
	textarea {
		min-height: 60px;
	}

	input {
		width: 100%;

		@include breakpoint($min-tablet) {
	    	width: 200px;
	    }
	}
}

.imagen-box--img {
	img {
		height: 70%;
		width: 100%;

		@include breakpoint($min-tablet) {
	    	height: 100%;
		}
	}
}

.imagen-box--comentarios {
	text-align: left;
	p {
		padding: 15px 5px;
	}

	a {
	   text-decoration: none;
	   color: $light-color;
	}
}

.imagen-box--comentarios-comentario {
	font-size: 16px;
	position: relative;

	@include breakpoint($min-tablet) {
	    font-size: 24px;
	}
}

.imagen-box--comentarios-author {
	font-size: 14px;
	color: $dark-color;
	display: block;
    position: absolute;
    bottom: 0;
    line-height: 15px;

	&:before, &:after {
		content: "-";
		padding: 0 5px;
	}

	@include breakpoint($min-tablet) {
	    font-size: 18px;
	}
}