.main {
	height: auto;
	width: 100%;

	@include breakpoint($min-desktop) {
		padding-bottom: 70px;
	}

}
.container {
	max-width: 1200px;
	margin: 0 auto;

	.message-information {
		color: $red-color;
		display: flex;
    	justify-content: center;

    	&.is-upload {
    		color: $third-color-dark;
    		text-align: center;
    	}
	}

	.text-politica {
		text-align: center;

		a {
			text-decoration: none;
		}
	}
}


.formulario {
	&.is-center {
    	justify-content: center;
    }
}

.galeria {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	.galeria-box {
		flex: 1 1 auto;
	    height: auto;
	    text-align: center;
	    margin: 10px 15px;
	   
	    @include breakpoint($min-tablet) {
	    	flex: 1 1 40%;
	    }

	    @include breakpoint($min-desktop) {
	    	flex: 0 1 22.5%;

	    	&:hover {
	    		 box-shadow: $box-shadow;
	    	}
	    }
	}
}

.galeria-box--img {
	img {
		height: 200px;
		width: 100%;
	}
}

.galeria-box--comentario {
	p {
		background: $third-color;
	}

	a {
	   text-decoration: none;
	   color: $light-color;
	}
}

.aviso-text {
	padding-bottom: 50px;
	margin: 0 10px;

	h3 {
		margin: 35px;
	}

	p {
		margin: 10px 0;
	}
}