.perfil {
	padding: 20px 20px;
	display: flex;
	flex-direction: column;

	@include breakpoint($min-tablet) {
		flex-direction: row;
		justify-content: space-around;
	}

	p {
		padding: 0px 5px 20px 0px;
		line-height: 1em;
		font-weight: bold;

		span {
			margin: 0 10px;
			font-weight: 400;
		}
	}
}

.perfil-box {
	@include breakpoint($min-tablet) {
		display: flex;
		flex-direction: column;
	} 
}

.perfil-galeria {
	a {
		text-decoration : none;
		color: $third-color-dark
	}
}