.btn {
	border: 2px solid $second-color-dark;
	
	@include breakpoint($min-desktop) {
		position: relative;
	    display: inline-block;
	    font-size: 14px;
		padding: 10px;
		line-height: 20px;
		color: #fff;
		cursor: pointer; 
		background: transparent;
	    border: 2px solid $second-color-dark;

	    span {
	    	color: $light-color;
	    }
	}
}

.primary-btn {
	border: none;
	
	@include breakpoint($min-desktop) {
		background: $second-color;
		border-bottom-left-radius: 1em;
	    border-bottom-right-radius: 2em;
		border-top-left-radius: 1em;
	    border-top-right-radius: 1em;
	    border: 2px solid $second-color-dark;

		&:hover {
		background: rgba($second-color, .4);

		}
	}
}

.input-btn {
	padding: 10px;
	background: $third-color;

	&:hover {
		background: rgba($third-color, .4);

	}
}

.input-delete-btn {
	padding: 10px;
	background: $red-color;

	&:hover {
		background: rgba($red-color, .4);

	}
}

