@mixin vcenter() {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin text-center() {
	text-align: center;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin container {
    padding: 0 15px;
    margin: 0 auto;
    
    @include breakpoint($min-desktop) {
        width: 750px;
    }

    @include breakpoint($min-desktop-large) {
        width: 970px;
    }

    @include breakpoint($min-desktop-xlarge) {
        width: 1170px;
    }
}

@mixin center-content() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

@font-face {
  font-family: 'Lobster';
  src: url('../sass/fonts/Lobster-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cookie';
  src: url('../sass/fonts/Cookie-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}