$container-width: 1180px;
$primary-font: 'Cookie';
$h1-font: 'Lobster',cursive;

/* Media queries */
$max-mobile: max-width 480px;
$min-tablet: min-width 480px;
$min-desktop: min-width 769px;
$min-desktop-large: min-width 992px;
$min-desktop-xlarge: min-width 1200px;


$text-shadow: 0 1px 5px rgba(#000, 0.4);
$box-shadow: 0 15px 20px rgba(#000, 0.3);

$primary-color: #E9734A;
$primary-color-dark: #CF362F;
$second-color: #368CC0;
$second-color-dark: #005394;
$third-color: #89B91A;
$third-color-dark: #225F38;
$dark-color: #585A5C;
$light-color: #ffffff;
$gray-color: #DEDEDE;
$gray-color-light: #f7f7f7;
$red-color: #F55E5E;
$dark: #000;
