/* Media queries */
@font-face {
  font-family: 'Lobster';
  src: url("../sass/fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cookie';
  src: url("../sass/fonts/Cookie-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 22px;
  vertical-align: baseline;
  font-family: "Cookie"; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn {
  border: 2px solid #005394; }
  @media (min-width: 769px) {
    .btn {
      position: relative;
      display: inline-block;
      font-size: 14px;
      padding: 10px;
      line-height: 20px;
      color: #fff;
      cursor: pointer;
      background: transparent;
      border: 2px solid #005394; }
      .btn span {
        color: #ffffff; } }

.primary-btn {
  border: none; }
  @media (min-width: 769px) {
    .primary-btn {
      background: #368CC0;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 2em;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
      border: 2px solid #005394; }
      .primary-btn:hover {
        background: rgba(54, 140, 192, 0.4); } }

.input-btn {
  padding: 10px;
  background: #89B91A; }
  .input-btn:hover {
    background: rgba(137, 185, 26, 0.4); }

.input-delete-btn {
  padding: 10px;
  background: #F55E5E; }
  .input-delete-btn:hover {
    background: rgba(245, 94, 94, 0.4); }

.header {
  max-height: 340px;
  height: auto;
  background: rgba(54, 140, 192, 0.25);
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #005394;
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 0 0 0 45%; }
  .header.is-admin {
    border-radius: 0;
    margin-bottom: 0; }
  @media (min-width: 769px) {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }

.header-text {
  padding-left: 10px;
  text-align: center; }
  .header-text a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px #000; }
  .header-text h1 {
    font-family: "Lobster", cursive;
    font-size: 28px;
    line-height: 45px; }
    @media (min-width: 769px) {
      .header-text h1 {
        font-size: 40px;
        line-height: 45px;
        padding-bottom: 15px; } }

.toggle-box {
  width: 100%; }
  @media (min-width: 769px) {
    .toggle-box {
      display: none; } }
  .toggle-box .content {
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
    padding: 15px;
    font-size: 18px;
    margin: 0 auto;
    background: #ffffff; }
    .toggle-box .content a {
      text-decoration: none;
      font-size: 16px;
      font-family: icon; }

.nav {
  display: none;
  margin-top: 15px; }
  @media (min-width: 769px) {
    .nav {
      max-width: 650px;
      margin-top: 0px;
      display: block; } }
  .nav .mainlinks {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 769px) {
      .nav .mainlinks {
        flex-direction: row;
        justify-content: normal; } }
    .nav .mainlinks li {
      line-height: 40px;
      text-align: center;
      width: 95%;
      margin: 0 auto; }
      @media (min-width: 769px) {
        .nav .mainlinks li {
          width: 100%;
          margin: 0 15px 0 0;
          line-height: 25px;
          color: #ffffff;
          background: none; } }
      .nav .mainlinks li.only-mobile {
        display: block; }
        @media (min-width: 769px) {
          .nav .mainlinks li.only-mobile {
            display: none; } }
    .nav .mainlinks a {
      text-decoration: none;
      color: #ffffff;
      padding: 10px; }
      @media (min-width: 769px) {
        .nav .mainlinks a {
          position: relative; }
          .nav .mainlinks a:before {
            content: "";
            position: absolute;
            height: 4px;
            width: 0;
            text-align: center;
            background: #89B91A;
            bottom: 0;
            left: 0;
            transition: width 2s; }
          .nav .mainlinks a:active {
            color: #585A5C; }
          .nav .mainlinks a:hover {
            color: #585A5C; }
            .nav .mainlinks a:hover:before {
              width: 100%; } }

.main {
  height: auto;
  width: 100%; }
  @media (min-width: 769px) {
    .main {
      padding-bottom: 70px; } }

.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container .message-information {
    color: #F55E5E;
    display: flex;
    justify-content: center; }
    .container .message-information.is-upload {
      color: #225F38;
      text-align: center; }
  .container .text-politica {
    text-align: center; }
    .container .text-politica a {
      text-decoration: none; }

.formulario.is-center {
  justify-content: center; }

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .galeria .galeria-box {
    flex: 1 1 auto;
    height: auto;
    text-align: center;
    margin: 10px 15px; }
    @media (min-width: 480px) {
      .galeria .galeria-box {
        flex: 1 1 40%; } }
    @media (min-width: 769px) {
      .galeria .galeria-box {
        flex: 0 1 22.5%; }
        .galeria .galeria-box:hover {
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); } }

.galeria-box--img img {
  height: 200px;
  width: 100%; }

.galeria-box--comentario p {
  background: #89B91A; }

.galeria-box--comentario a {
  text-decoration: none;
  color: #ffffff; }

.aviso-text {
  padding-bottom: 50px;
  margin: 0 10px; }
  .aviso-text h3 {
    margin: 35px; }
  .aviso-text p {
    margin: 10px 0; }

input {
  padding: 6px 3px;
  border-radius: 4px;
  border: 1px solid rgba(54, 140, 192, 0.5);
  margin: 5px 0 10px 0; }
  input:hover {
    background: rgba(54, 140, 192, 0.8); }

select {
  padding: 12px;
  margin-bottom: 10px; }
  select.is-center {
    padding-left: 45%; }
    @media (min-width: 480px) {
      select.is-center {
        padding-left: 12px; } }
  select option {
    width: 50px; }

.formulario {
  padding: 20px 0;
  text-align: center; }
  @media (min-width: 480px) {
    .formulario {
      display: flex; } }

.form {
  display: flex;
  flex-direction: column; }

.form-input--file {
  margin: 10px 0; }

.form-tema {
  display: flex;
  flex-direction: column; }
  @media (min-width: 480px) {
    .form-tema {
      display: block; } }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  padding: 5px 0; }
  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #005394;
    display: inline-block;
    border-radius: 2px;
    padding: 6px 20px; }
    .inputfile + label:hover {
      background-color: #368CC0; }

.box {
  border-radius: 2px;
  border: 2px solid #368CC0;
  background: rgba(222, 222, 222, 0.4);
  padding: 30px; }

.galerias {
  display: flex;
  flex-direction: column; }
  @media (min-width: 480px) {
    .galerias {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }

.galerias-box {
  width: auto;
  max-height: 200px;
  margin: 15px 30px;
  border-radius: 90px 7px;
  background: rgba(222, 222, 222, 0.7);
  box-shadow: 6px 6px 20px #DEDEDE; }
  @media (min-width: 480px) {
    .galerias-box {
      max-width: 200px;
      margin: 15px 15px; }
      .galerias-box:hover {
        box-shadow: 2px 2px 2px 2px #DEDEDE; } }
  .galerias-box a {
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); }
    .galerias-box a span {
      margin: auto 0;
      text-align: center; }

.perfil {
  padding: 20px 20px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 480px) {
    .perfil {
      flex-direction: row;
      justify-content: space-around; } }
  .perfil p {
    padding: 0px 5px 20px 0px;
    line-height: 1em;
    font-weight: bold; }
    .perfil p span {
      margin: 0 10px;
      font-weight: 400; }

@media (min-width: 480px) {
  .perfil-box {
    display: flex;
    flex-direction: column; } }

.perfil-galeria a {
  text-decoration: none;
  color: #225F38; }

.imagen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
  @media (min-width: 480px) {
    .imagen {
      flex-direction: row; } }
  .imagen .imagen-box {
    flex: 1 1 auto;
    height: auto;
    text-align: center;
    margin: 10px 15px 50px 15px;
    max-height: 500px;
    width: auto; }
    .imagen .imagen-box.is-right {
      padding: 0px 15px 100px 15px;
      background: linear-gradient(rgba(137, 185, 26, 0.1), rgba(137, 185, 26, 0.7)); }
    @media (min-width: 480px) {
      .imagen .imagen-box {
        flex: 0 1 55%;
        width: 100%;
        max-width: 500px; }
        .imagen .imagen-box.is-right {
          flex: 0 1 40%;
          overflow: auto;
          max-height: 500px;
          border-radius: 6px; } }

.imagen-box--name {
  padding: 10px 0;
  background: rgba(137, 185, 26, 0.5);
  border-top: 1px solid #89B91A;
  border-radius: 10px 10px 0px 0px; }

.is-imagen textarea {
  min-height: 60px; }

.is-imagen input {
  width: 100%; }
  @media (min-width: 480px) {
    .is-imagen input {
      width: 200px; } }

.imagen-box--img img {
  height: 70%;
  width: 100%; }
  @media (min-width: 480px) {
    .imagen-box--img img {
      height: 100%; } }

.imagen-box--comentarios {
  text-align: left; }
  .imagen-box--comentarios p {
    padding: 15px 5px; }
  .imagen-box--comentarios a {
    text-decoration: none;
    color: #ffffff; }

.imagen-box--comentarios-comentario {
  font-size: 16px;
  position: relative; }
  @media (min-width: 480px) {
    .imagen-box--comentarios-comentario {
      font-size: 24px; } }

.imagen-box--comentarios-author {
  font-size: 14px;
  color: #585A5C;
  display: block;
  position: absolute;
  bottom: 0;
  line-height: 15px; }
  .imagen-box--comentarios-author:before, .imagen-box--comentarios-author:after {
    content: "-";
    padding: 0 5px; }
  @media (min-width: 480px) {
    .imagen-box--comentarios-author {
      font-size: 18px; } }

footer {
  display: none; }
  @media (min-width: 769px) {
    footer {
      display: block;
      position: fixed;
      left: 0;
      bottom: 0;
      background: rgba(54, 140, 192, 0.85);
      width: 100%;
      height: 30px;
      line-height: 30px; }
      footer .box-footer {
        display: flex;
        justify-content: space-around; }
        footer .box-footer a {
          text-decoration: none;
          color: #ffffff; }
          footer .box-footer a:hover {
            color: #DEDEDE; } }

.main-admin {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column; }
  @media (min-width: 769px) {
    .main-admin {
      flex-direction: row; } }
  .main-admin .message-information {
    color: #F55E5E;
    display: flex;
    justify-content: center; }

.menu-admin {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; }
  @media (min-width: 769px) {
    .menu-admin {
      width: 30%;
      justify-content: flex-start; } }
  .menu-admin a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background: #005394;
    color: #f7f7f7;
    border-bottom: 1px solid #f7f7f7; }
    @media (min-width: 769px) {
      .menu-admin a {
        line-height: 80px; }
        .menu-admin a:last-child {
          height: 100%; } }

.admin-welcome {
  text-align: center;
  padding-top: 20px; }
  @media (min-width: 769px) {
    .admin-welcome {
      flex: 1 1 auto; } }

@media (min-width: 480px) {
  .admin-form {
    width: 30%; } }

@media (min-width: 480px) {
  .admin-form-center {
    margin: 0 auto; } }
